*{
	margin: 0px;
	padding: 0px;
	font-family: serif;
	font-size: 16px;
	color: white;
}
input, select, textarea{
        color: #ff0000;
}
body{
	background-color: rgb(200,200,200);
}

button{
	background-color: #386280;
    text-align:
    center;
}

main{
	display: flex;
	align-content: center;
	justify-content: center;
}

a{
	text-decoration: none;
	color: #F5F5DC;
	display: block;
	font-size: 25px;
}

p{
	font-size: 17px;
}

ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

ul li{
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	position: relative;
	float: left;
	width: 200px;
	height: 60px;
	background-color: #386280;
	line-height: 60px;
	text-align: center;
	z-index: 3;
}

ul li a:hover{
	background-color: rgba(0,0,0,0.7);
}

ul li ul li{
	display: none;
	background-color: rgba(0,0,0,0.7);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

ul li ul li a{
	font-size: 20px;
}

ul li:hover ul li{
	display: block;
}

ul li ul li a:hover{
	background-color: lightblue;
}

img{
	backface-visibility: hidden;
	margin: 0px;
	padding: 0px;
	outline: none;
	overflow: 0px;
	width: 310px;
	height: 470px;
	border-radius: 15px 15px 15px 15px;
}

.pocetnaTabela{
	position: relative;
	border-width: 10px;
	border-style: solid;
	border-color: transparent;
}

.pocetnaTabela{
	padding: 10px;
	background-color:  #386280;
	border-radius: 50px 50px 50px 50px;
	margin: 25px 25px 25px 25px;
	border-width: 10px;
	border-style: solid;
	border-color: rgb(200,200,200);
}

#dodatno{
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 0;
}

#pomeraj{
	width: 20px;
}


#Pretraga{
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 0;
}

#Forma{
	position: absolute;
	right: 20px;
	z-index: 2;
}

#Text{
	position: absolute;
	right: 103px;
}

#Dugme{
	position: absolute;
	right: 10px;
}

.Opis_knjige{
	font-size: 17px;
	vertical-align: middle;
	line-height: 1.7;
	backface-visibility: hidden;
	background-color: rgba(0,0,0,0.7);
	transform: rotateY(180deg);
	color: white;
	width: 290px;
	height: 450px;
	position: absolute;
	border-radius: 15px 15px 15px 15px;
	padding: 10px ;
	text-align:center;
	overflow: hidden;
}

.flip{
	transform-style: preserve-3d;
	transition: all 0.5s ease;	
	text-align: center;
}

#logo{
	transform: translate(40%,3%);
	animation: fill 0.5s ease forwards 4s;
}

#logo path:nth-child(1){
	stroke-dasharray:606.396;
	stroke-dashoffset:606.396;
	animation: line-anim 2s ease forwards;	
}

#logo path:nth-child(2){
	stroke-dasharray:648.386;
	stroke-dashoffset:648.386;
	animation: line-anim 2s ease forwards 0.3s;	
}

#logo path:nth-child(3){
	stroke-dasharray:258.281;
	stroke-dashoffset:258.281;	
	animation: line-anim 2s ease forwards 0.6s;	

}
#logo path:nth-child(4){
	stroke-dasharray:291.006;
	stroke-dashoffset:291.006;
	animation: line-anim 2s ease forwards 0.9s;	
}

#logo path:nth-child(5){
	stroke-dasharray:569.506;
	stroke-dashoffset:569.506;
	animation: line-anim 2s ease forwards 1.2s;	
}

#logo path:nth-child(6){
	stroke-dasharray:586.414;
	stroke-dashoffset:586.414;	
	animation: line-anim 2s ease forwards 1.5s;	
}
#logo path:nth-child(7){
	stroke-dasharray:61.9;
	stroke-dashoffset:61.9;
	animation: line-anim 2s ease forwards 1.8s;	
}

#logo path:nth-child(8){
	stroke-dasharray:436.284;
	stroke-dashoffset:436.284;	
	animation: line-anim 2s ease forwards 2.1s;	
}

#logo path:nth-child(9){
	stroke-dasharray:478.438;
	stroke-dashoffset:478.438;	
	animation: line-anim 2s ease forwards 2.4s;	
}
#logo path:nth-child(10){
	stroke-dasharray:456.165;
	stroke-dashoffset:456.165;	
	animation: line-anim 2s ease forwards 2.7s;	
}

@keyframes line-anim {
	to{
		stroke-dashoffset: 0;
	}
}

@keyframes fill{
	from{
		fill: transparent;
	}
	to{
		fill :#386280;
	}
}